table{
margin: auto;

position:absolute;
top:100px;
left:300px;
background-color: white;
}
th,tr{
    height:35px;
    width:100px;
}
th{
    background-color: rgba(165, 42, 42, 0.51);
}
body{
    background-image: url("table.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}